.li-imagenes img{
    position: absolute; 
    // top: -391px; 
    // left: 285px; 
    width: 275px; 
    height: 402px; 
    border-radius: 6px;
    gap: 30px;
}

.li-imagenes h2{
    position: relative;

}

